$firstColor:#211E32;
$secondColor:#52BD95;
$secondColorHover:#42a27e;
$firstTextColor:#b1b5d3;
$secondTextColor:#737a96;
$titleOtherColor:#ADA2F0;
$navTextColor:#343a40;
$signBtnColor:#6152bd;
$thirdTextColor:#d5daf0;
$contact-color:#233164;
$colorContactInput:#1D2A57;